:root {
    --blue: #080A57;
    --yellow: #FAFF00;
    --grey: #C4C4C4;
}

body,
html,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

body {
    overflow-x: hidden;
    background-color: white;
}

header {
    background-color: var(--blue);
    height: 80px;
    color: white;
    padding: 0 20px;
    display: table;
    width: 100%;
    position: relative;

}

header>ul {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
header a {
    text-decoration: none;
    color: white;
}

header #user-container {
    position: absolute;
    text-decoration: none;
    color: black;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

header #user-container > * {
    color: black;
}

header img, header .logo {
    height: 80px;
    width: 80px;
    top: 0;
    left: 0;
    position: absolute;
}

header ul {
    list-style: none;
    height: 100%;
    margin: 0;
    gap: 20px;
}

header ul li {
    cursor: pointer;
    display: inline;
    margin-left: 20px;
}

header ul li:nth-child(1) {
    margin-left: 0;
}

.menu-item.active {
    text-decoration: underline;
}

main {
    margin: 0 20px;
}
footer {
    position: relative;
    background-color: var(--blue);
    margin-top: 50px;
    height: 80px;
    color: white;
    font-size: large;
    text-align: center;
    line-height: 80px;
}

.button {
    background-color: var(--yellow);
    border: 0;
    padding: 10px 20px;
    cursor: pointer;
}
.button.button-red {
    background-color: red;
    color: white;
}
img {
    max-width: 100%;
}
.genres {
    margin: 5px 0;
}

.genre {
    background-color: var(--grey);
    text-transform: capitalize;
    padding: 5px 10px;
    display: inline-block;
    cursor: default;
    margin-right: 10px;
    margin-top: 10px;
}

aside {
    background: linear-gradient(-45deg, #ee7752, #48363d, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 3s ease infinite;
    padding: 10px 0;
}

aside img {
    height: 40px;
}
aside marquee > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.guestbook {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.modal-wrapper:not(.visible) {
    display: none;
}
.modal-wrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    z-index: 2;
}
.modal-content {
    background-color: white; 
    width: 80%;
    max-height: 80vh;
    overflow-y: auto;
    position: relative;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal-content .close {
    position: absolute;
    top: 5px;
    right: 15px;
    background: none;
    border: 0;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    user-drag: none;
}

.modal-content .modal-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
}

.modal-content .modal-form > * {
    padding: 5px 10px;
}
.modal-content .modal-form textarea, .modal-content .modal-form input {
    border: 1px solid black;
}
.modal-content .modal-form textarea {
    resize: none;
}

.modal-content .entries {
    display: flex;
    margin: 10px 0 0;
    flex-direction: column;
    gap: 10px;
}

#alert {
    padding: 20px;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    margin: 20px;
    display: none;
}

#alert.success {
    display: block;
    border-color: green;
    color: green;
}

#alert.error {
    display: block;
    border-color: red;
    color: red;
}

.card-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.card-header select {
    height: 30px;
}