.section-name {
    margin: 40px 0;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

@media screen and (max-width: 1366px) {
    .cards {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1024px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 720px) {
    .cards {
        grid-template-columns: 1fr;
    }
}

.card {
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h2 {
    color: var(--blue);
}

.card p {
    text-align: justify;
}

.card:hover {
    transition-duration: .5s;
    box-shadow: 0px 0px 24px 0px rgba(66, 68, 90, 1);
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.card .release-date {
    font-weight: 400;
    margin: 10px 0;
}
